<%= render "shared/header" %>

<div class="topics">
  <div class="topic">
    <% @topics.each do |topic| %>
      <div class="upper-topic">
        <%= link_to topic_path(topic.id), class: 'name' do %>
          <div class="topic_name">
          <%= topic.topic_name %>
          </div>
        <% end %>
      </div>

      <div class="topic-users">
        投稿者:<%= topic.user.name %>
      </div>
    <% end %>
  </div>
</div>