header{
  padding: 50px;
  background-color: gray;
}

.nav{
  display: flex;
  justify-content: space-between;
}

.root{
  text-decoration: none;
  color: white;
}

.lists{
  display: flex;
}

.list{
  list-style: none;
}

.new{
  text-decoration: none;
  color: white;
  font-size: 20px;
  margin-right: 100px;
}

.my{
  text-decoration: none;
  color: white;
  font-size: 20px;
  margin-left: 100px;
}

.rog-in{
  text-decoration: none;
  color: white;
  font-size: 20px;
  margin-right: 100px;
}

.sign-in{
  text-decoration: none;
  color: white;
  font-size: 20px;
  margin-left: 100px;
}
